#header {
    background-color: black;
    background-image: url("../../images/lake-tahoe-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#header .image.avatar {
    width: 10em;
}