body {
    color: #57606f;
    background-color: #f1f2f6;
}

h2 {
    color: #2f3542;
}

a {
    color: #1e90ff;
}

a:hover {
    color: #1e90ff !important;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    border: solid 3px #ced6e0;
    color: #2f3542 !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    border-color: #1e90ff;
    color: #1e90ff !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
.button:active {
    border-color: #1e90ff;
    color: #1e90ff !important;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
.button.primary {
    background-color: #1e90ff;
    border-color: #1e90ff;
    color: #ffffff !important;
}

#main > section {
    border-top: solid 2px #ced6e0;
}
#header {
    background-color: #2f3542;
    background-image: url("../../images/lake-tahoe-bg.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

#header h1 {
    color: #a4b0be;
}

#header .image.avatar {
    width: 10em;
}

#footer .copyright {
    color: #a4b0be;
}

#footer .icons a {
    color: #a4b0be;
}

.language-dot {
    height: 10px;
    width: 10px;
    background-color: #2f3542;
    border-radius: 50%;
    display: inline-block;
}

.html-dot { background-color: #7bed9f; }
.java-dot { background-color: #1e90ff; }
.swift-dot { background-color: #ff6348; }
.css-dot { background-color: #5352ed; }
.python-dot { background-color: #2ed573; }
.objective-c-dot { background-color: #747d8c; }

.html-label { color: #7bed9f; font-weight: bold; }
.java-label { color: #1e90ff; font-weight: bold; }
.swift-label { color: #ff6348; font-weight: bold; }
.css-label { color: #5352ed; font-weight: bold; }
.python-label { color: #2ed573; font-weight: bold; }
.objective-c-label { color: #747d8c; font-weight: bold; }
